
{{> head}}

  {{> navbar }}
  
  <div class="col-8">
      <h1>Red de hebb</h1>
      <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque vero iste soluta eum ipsam eius deleniti. Explicabo vero repudiandae corrupti nisi, eaque maiores temporibus asperiores impedit corporis harum ducimus aliquam!
      </p>
  </div>

  <div class="col-4">
      <img src="assets/img/red-hebb.PNG" class="img-thumbnail">
  </div>

{{> footer}}